h11~=0.16.0
pip~=24.0
protobuf~=5.29.5
rsa~=4.9.1
pyasn1~=0.6.1
typing_extensions~=4.15.0
python-docx~=1.2.0
lxml~=6.0.2
grpcio~=1.76.0
python-telegram-bot~=22.5
requests~=2.32.5
colorama~=0.4.6
sniffio~=1.3.1
httpcore~=1.0.9
idna~=3.11
httpx~=0.28.1
proto-plus~=1.26.1
pyasn1_modules~=0.4.2
cachetools~=6.2.1
certifi~=2025.10.5
urllib3~=2.5.0
google-api-python-client~=2.187.0
grpcio-status~=1.71.2
pydantic~=2.12.4
httplib2~=0.31.0
tqdm~=4.67.1
anyio~=4.11.0
pyparsing~=3.2.5
pydantic_core~=2.41.5
annotated-types~=0.7.0
charset-normalizer~=3.4.4
uritemplate~=4.2.0
google-auth-httplib2~=0.2.1
PyPDF2~=3.0.1
python-dotenv~=1.2.1